# Lines that start with '#' are comments.

# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out/
target/

# Eclipse Project files
.classpath
*.classpath
.project
*.project
.settings/
.springBeans
*.springBeans

bin/
gen/
local.properties

.DS_Store
Thumbs.db

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
src/test/java/com/dyl/code/leetcode/dtgh/
src/test/java/com/dyl/code/leetcode/find/
src/test/java/com/dyl/code/leetcode/linked/
src/test/java/com/dyl/code/leetcode/thread/
src/test/java/com/dyl/code/other/
src/test/java/com/dyl/code/sort/
src/test/java/com/dyl/thread/FutureTaskDemo.java
